/* allgemeine Definition */
.sc {
	margin-left:0 !important;
	margin-right:0 !important;
	padding-left:0 !important;
	clear:none !important;
}
.sc-first
{
	clear: both !important;
}
.sc-last {
}
.sc-clear {
	clear:left;
}

.sc-rowspan > *
{
	margin: 0!important;
	padding: 0!important;
}

/* 2-spaltig */
.sc2 {
	width:49.5%;padding-right:1%;float:left;display:inline;
}
.sc2-first {
	clear:left;
}
.sc2-last {
	padding-right:0;
}

/* 3-spaltig */
.sc3 {
	width:32.3%;padding-right:1%;float:left;display:inline;
}
.sc3-first {
	clear:left;
}
.sc3-last {
	padding-right:1.1%;
}
.sc3-2 {
	width:65.6%;padding-right:1%;float:left;display:inline;
}
.sc3-2-first {
	clear:left;
}
.sc3-2-last {
	padding-right:1.1%;
}

/* 4-spaltig */
.sc4 {
	width:24%;padding-right:1%;float:left;display:inline;
}
.sc4-first {
	clear:left;
}
.sc4-last {
}
.sc4-2 {
	width:49%;padding-right:1%;float:left;display:inline;
}
.sc4-2-first {
	clear:left;
}
.sc4-2-last {
}
.sc4-3 {
	width:74%;padding-right:1%;float:left;display:inline;
}
.sc4-3-first {
	clear:left;
}
.sc4-3-last {
}

/* 5-spaltig */
.sc5 {
	width:19%;padding-right:1%;float:left;display:inline;
}
.sc5-first {
	clear:left;
}
.sc5-last {
}
.sc5-2 {
	width:39%;padding-right:1%;float:left;display:inline;
}
.sc5-2-first {
	clear:left;
}
.sc5-2-last {
}
.sc5-3 {
	width:59%;padding-right:1%;float:left;display:inline;
}
.sc5-3-first {
	clear:left;
}
.sc5-3-last {
}
.sc5-4 {
	width:79%;padding-right:1%;float:left;display:inline;
}
.sc5-4-first {
	clear:left;
}
.sc5-4-last {
}

/* 6-spaltig */
.sc6 {
	width:15.6%;padding-right:1%;float:left;display:inline;
}
.sc6-first {
	clear:left;
}
.sc6-last {
}
.sc6-2 {
	width:39%;padding-right:1%;float:left;display:inline;
}
.sc6-2-first {
	clear:left;
}
.sc6-2-last {
}
.sc6-3 {
	width:59%;padding-right:1%;float:left;display:inline;
}
.sc6-3-first {
	clear:left;
}
.sc6-3-last {
}
.sc6-4 {
	width:79%;padding-right:1%;float:left;display:inline;
}
.sc6-4-first {
	clear:left;
}
.sc6-4-last {
}


/* 7-spaltig */
.sc7 {
	width:13.28%;padding-right:1%;float:left;display:inline;
}
.sc7-first {
	clear:left;
}
.sc7-last {
}
.sc7-2 {
	width:27.57%;padding-right:1%;float:left;display:inline;
}
.sc7-2-first {
	clear:left;
}
.sc7-2-last {
}
.sc7-3 {
	width:41.86%;padding-right:1%;float:left;display:inline;
}
.sc7-3-first {
	clear:left;
}
.sc7-3-last {
}
.sc7-4 {
	width:56.14%;padding-right:1%;float:left;display:inline;
}
.sc7-4-first {
	clear:left;
}
.sc7-4-last {
}
.sc7-5 {
	width:70.43%;padding-right:1%;float:left;display:inline;
}
.sc7-5-first {
	clear:left;
}
.sc7-5-last {
}
.sc7-6 {
	width:84.71%;padding-right:1%;float:left;display:inline;
}
.sc7-6-first {
	clear:left;
}
.sc7-6-last {
}


/* 8-spaltig */
.sc8 {
	width:11.5%;padding-right:1%;float:left;display:inline;
}
.sc8-first {
	clear:left;
}
.sc8-last {
}
.sc8-2 {
	width:24%;padding-right:1%;float:left;display:inline;
}
.sc8-2-first {
	clear:left;
}
.sc8-2-last {
}
.sc8-3 {
	width:36.5%;padding-right:1%;float:left;display:inline;
}
.sc8-3-first {
	clear:left;
}
.sc8-3-last {
}
.sc8-4 {
	width:49%;padding-right:1%;float:left;display:inline;
}
.sc8-4-first {
	clear:left;
}
.sc8-4-last {
}
.sc8-5 {
	width:61.5%;padding-right:1%;float:left;display:inline;
}
.sc8-5-first {
	clear:left;
}
.sc8-5-last {
}
.sc8-6 {
	width:74%;padding-right:1%;float:left;display:inline;
}
.sc8-6-first {
	clear:left;
}
.sc8-6-last {
}
.sc8-7 {
	width:86.5%;padding-right:1%;float:left;display:inline;
}
.sc8-7-first {
	clear:left;
}
.sc8-7-last {
}


/* 9-spaltig */
.sc9 {
	width:10.11%;padding-right:1%;float:left;display:inline;
}
.sc9-first {
	clear:left;
}
.sc9-last {
}
.sc9-2 {
	width:21.22%;padding-right:1%;float:left;display:inline;
}
.sc9-2-first {
	clear:left;
}
.sc9-2-last {
}
.sc9-3 {
	width:32.33%;padding-right:1%;float:left;display:inline;
}
.sc9-3-first {
	clear:left;
}
.sc9-3-last {
}
.sc9-4 {
	width:43.44%;padding-right:1%;float:left;display:inline;
}
.sc9-4-first {
	clear:left;
}
.sc9-4-last {
}
.sc9-5 {
	width:54.56%;padding-right:1%;float:left;display:inline;
}
.sc9-5-first {
	clear:left;
}
.sc9-5-last {
}
.sc9-6 {
	width:65.67%;padding-right:1%;float:left;display:inline;
}
.sc9-6-first {
	clear:left;
}
.sc9-6-last {
}
.sc9-7 {
	width:76.78%;padding-right:1%;float:left;display:inline;
}
.sc9-7-first {
	clear:left;
}
.sc9-7-last {
}
.sc9-8 {
	width:87.89%;padding-right:1%;float:left;display:inline;
}
.sc9-8-first {
	clear:left;
}
.sc9-8-last {
}


/* 10-spaltig */
.sc10 {
	width:9%;padding-right:1%;float:left;display:inline;
}
.sc10-first {
	clear:left;
}
.sc10-last {
}
.sc10-2 {
	width:19%;padding-right:1%;float:left;display:inline;
}
.sc10-2-first {
	clear:left;
}
.sc10-2-last {
}
.sc10-3 {
	width:29%;padding-right:1%;float:left;display:inline;
}
.sc10-3-first {
	clear:left;
}
.sc10-3-last {
}
.sc10-4 {
	width:39%;padding-right:1%;float:left;display:inline;
}
.sc10-4-first {
	clear:left;
}
.sc10-4-last {
}
.sc10-5 {
	width:49%;padding-right:1%;float:left;display:inline;
}
.sc10-5-first {
	clear:left;
}
.sc10-5-last {
}
.sc10-6 {
	width:59%;padding-right:1%;float:left;display:inline;
}
.sc10-6-first {
	clear:left;
}
.sc10-6-last {
}
.sc10-7 {
	width:69%;padding-right:1%;float:left;display:inline;
}
.sc10-7-first {
	clear:left;
}
.sc10-7-last {
}
.sc10-8 {
	width:79%;padding-right:1%;float:left;display:inline;
}
.sc10-8-first {
	clear:left;
}
.sc10-8-last {
}
.sc10-9 {
	width:89%;padding-right:1%;float:left;display:inline;
}
.sc10-9-first {
	clear:left;
}
.sc10-9-last {
}
